@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body {
  background-image: url("https://static1.squarespace.com/static/55089605e4b076f89f21acb6/t/5a5e213d53450ab8996facc8/1516118360894/nature-portfolio-ikhals.jpg?format=2500w");
font-family: 'Playfair Display SC', serif;
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.profile {
  position: absolute;
  height: 200px;
  width: 200px;
  @include border-radius(50%);
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;

  img {
    height: 100%;
    width: 100%;
    @include border-radius(50%);
    position:relative;
    transition: 1s ease;
  }

  .overlay {
    color:#fff;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.5);
    @include border-radius(50%);
    text-align: center;
    opacity: 0;
    @include transition(opacity 500ms);
    overflow: hidden;

    a {
      display: inline-block;
      color: white;
      margin-top: calc(50% - 15px);
      margin-right: 5px;

      &:first-child:hover {
        color: #3b5998;
      }

      &:nth-child(2):hover {
        color: #4099ff;
      }

      &:last-child:hover {
        color: #3f729b;
      }
    }
  }
  h2{
    font:bold 2.4rem/1 'IM Fell English SC', serif;
    font-size: 15vh;
    color:#000;
  }
  h3{
    font-size:5vh;
    color:white;
  }
  h4{
    color:#000;
    font-size:6vh;
    margin-top:20vh;
    margin-bottom:50vh;
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  .profileinfo {
    margin-top: 10%;
    text-align: center;
    mrgin-bottom: 50%;
  }
}

@media(max-width:568px) {.parallax
   { background-attachment: scroll;
    }
}
.home{
  color:#000;
}
.home:hover{
  color:#ccc;
}
