@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

body{
  margin: 0;
  padding: 0;
  background-image:url("sfondo.JPG");
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.profile-card{
  border-radius: 20px;
  width: 600px;
  height: 350px;
  background-color: white;
  display: flex;
  flex: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-bottom: 70px;}

.profile-card header{
  border-right: 1px solid transparent ;
  width: 400px;

}

.profile-card img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  margin: auto;
  margin-top: 40px;
  border: 8px solid transparent;
  transition: .4s;
  }

.profile-card img:hover{
  border: 8px solid #000 ;
}


.profile-card h1{
  font-family: 'Playfair Display SC', serif;
  font-size: 22px;
  color: #000 ;
  text-align: center;
}

.profile-card h2{
  font-family: 'Playfair Display SC', serif;
  font-size: 16px;
  text-align: center;
}

.profile-bio{
  border-radius: 0 20px 20px 0;
  background-color: #ccc ;
  display: flex;
  flex-direction: column;
  flex: 1:
}

.profile-bio p{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  margin-top: 70px;
}

a{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;

}
a{
  display: flex;
  color: white;
  font-size: 30px;
  transition: .4s;
 font-family: 'Playfair Display SC', serif;

}

a:hover{
  color: #000 ;
  transform: scale(1.2);
}

ul{
  list-style-type: none;
  display: flex;
}

ul li{

  margin: 30px;
}

.fa-instagram{
 color: white ;
 transition: .4s;
  }
.fa-instagram:hover{
  color: #e53935 ;
}

.fa-facebook-square{
 color: white ;
  transition: .4s;
}
.fa-facebook-square:hover{
  color: #e53935 ;
}
.fa-linkedin{
  color: white;
  transition: .4s;
}
.fa-linkedin:hover{
  color: #e53935 ;
}
